*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #cccccc;
    width: 800px;
    padding: 15px 50px;

}

input{
    height: 35px ;
    width: 250px;
    border: 2px solid black;
    margin-top: 2.5px;
}


.nav button {
    background-color: #18a2b8;
    color: white;
    height: 35px;
    width: 100px;
    box-shadow: 2px 2px black;
    border: 2px solid black;
    
}

.flexed{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1.2em;
}

.flex-start{
    align-items: flex-start;
    
}

.flex-direction{
    flex-direction: column;
}

.container{
    min-height: 500px;
    /* background-color: grey; */
    margin: 0 auto;
    width: 800px;
    padding: 25px;
}

.hero {
    min-height: 500px;
    /* background-color: hotpink; */
    flex: 2;

}

.row-1{
    min-height: 200px;
    /* background-color: coral; */
}

.row-2{
    min-height: 200px;
    /* background-color: teal; */
    margin-bottom: 50px;
}

.sidebar {
    height: 200px;
    /* background-color: lawngreen; */
    flex: 1;
    padding: 25px;
}

.title{
    flex: 1;
    padding: 25px;
}

.title h1, h3{
    margin-bottom: 5px;
    margin: 0 auto;
}


.title button{
    margin-top: 25px;
}

.description{
    flex:2;
}

.descripion button{
    background-color: green;
}

/* .search{
    border: 3px solid black;
    width: 250px;
} */

.btn{
    background-color: rgb(188, 161, 218);
    color: black;
    height: 40px;
    width: 100px;
    box-shadow: 2px 2px;
    border: 2px solid black;
    
}

.add_def button{
    background-color: rgb(202, 88, 88);
    color: black;
    height: 40px;
    width: 150px;
    box-shadow: 2px 2px;
    border: 2px solid black;
    margin-top: 10px;
}

.definition{
    margin: 70px 0px;
}

.noun{
    margin-left: 15px;
}

.plural{
    margin-left: 10px;
}

.border{
    border: 1px solid black;
}